matia_api_token = "eyJ..."

mssql_hostname = "your-sqlserver-hostname"
mssql_port     = "your-sqlserver-port"
mssql_database = "your-sqlserver-database"
mssql_tls      = true
mssql_username = "your-sqlserver-username"
mssql_password = "your-sqlserver-password"

mssql_incremental_mode = "Change Stream"

destination_id = "your-existing-snowflake-asset-id"

destination_schema = "your-destination-schema-in-snowflake"
