matia_api_token = "eyJ..."

hybrid_agent_name        = "your-agent-name-to-create"
hybrid_agent_description = "your-agent-description-to-create"

postgres_hostname    = "your-postgres-hostname"
postgres_port        = "your-postgres-port"
postgres_database    = "your-postgres-database"
postgres_ssl         = false
postgres_slot        = "matia_slot"
postgres_publication = "matia_pub"
postgres_username    = "your-postgres-username"
postgres_password    = "your-postgres-password"

snowflake_account   = "your-snowflake-account"
snowflake_database  = "your-snowflake-database"
snowflake_warehouse = "your-snowflake-warehouse"
snowflake_role      = "your-snowflake-role"
snowflake_username  = "your-snowflake-username"
snowflake_password  = "your-snowflake-password"

destination_schema = "your-destination-schema-in-snowflake"
